<body>
    <style type="text/css">
        body:before {
            background: #eee;
        }

        .email-nav-link-list {
            height: 100%;
            padding-bottom: 2em;
        }

        .email-nav-link-list__list {
            list-style: none;
            list-style-type: square;
            /* color: #266BAF; */
        }

        .email-nav-link-list__item {
            padding: .1em;
            font-size: 20px;
            font-weight: 300;
        }

        body {
            background: #ececed;
            margin: 0;
            padding: 0;
            min-width: 100%;
            width: 100%;
        }

        .table__container-footer {
            background-color: #dc0000;
        }

        .header-logo {
            width: 50%;
        }

        .greeting-user {
            color: #545D62;
        }

        .content {
            font-size: 1.2em;
            color: #545D62;
        }

        .email-nav-link-list-container {
            border: 1px solid #333;
            padding: 36px;
            color: #545D62;
        }

        .signature {
            color: #545D62;
        }

        .email-container {
            background-color: #fff;
        }
        .whitecolor{
            color: #fff;
        }
    </style>
    <div class="table__container">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ececed">
            <tbody>
                <tr>
                    <td class="min-width">
                        <div class="table__container">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr bgcolor="#dc0000">
                                        <td align="center">
                                            <div>
                                                <table width="640" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td height="30" align="left" class="header-logo">
                                                                <img class="img" style="height: 50px; margin-left:40%"
                                                                    src="https://admin.carex.dk/pictures/tryg_logo.png" />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table__container">
                            <div class="table__container">
                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <div class="table__container">
                                                    <table width="640" class="w-320" cellspacing="0" cellpadding="0"
                                                        border="0" bgcolor="#FFFFFF">
                                                        <tbody>
                                                            <tr>
                                                                <td height="30" width="45" class="w-20">&nbsp;</td>
                                                            </tr>
                                                            <td width="45" class="w-20">&nbsp;</td>
                                                            <td align="left" class="email-container">
                                                                <h1 class="greeting-user">Kære Singh,</h1>
                                                                <h4 class="greeting-user">Engangskode: XXXX.</h4>
                                                                <img style="height: 250px;width: 100%;"
                                                                    src="https://admin.carex.dk/pictures/tryg_background.png"
                                                                    alt="">
                                                                <p class="content" style="background: #fff;padding: 10px;">Du har anmodet om at oprette eller nulstille dit personlige kodeord til Sundhed via AP Pension.
                                                                        Brug koden ovenfor, til at få adgang til at indtaste et nyt kodeord.</p>
                                                                        <p class="content">
                                                                                Hvis du har spørgsmål, så tøv ikke med at kontakte os.
                                                                        
                                                                        </p>
                                                                        <p class="content">
                                                                                Med venlig hilsen
                                                                                <br>
                                                                                Sundhed via AP Pension
                                                                                <br>
                                                                                appsupport@kiatec.dk
                                                                                <br>
                                                                        </p>
                                                               <br>
                                                               
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                            </td>
                                                            <td height="30" width="45" class="w-20">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table__container">
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td height="40">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table__container-footer">
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td align="center">
                        <div class="table__container-padding">
                            <table width="640" class="w-320" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td height="40">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <div class="table__container" style="color: #fff;font-size:10px;">
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr class="whitecolor" >
                                                            <td width="60">&nbsp;</td>
                                                            DISCLAIMER:
                                                            <br>
                                                            Denne mail kan ikke besvares. Såfremt du ikke er rette modtager, vil adgang til e-mailen være ubeføjet, og enhver udnyttelse eller videregivelse af e-mailens indhold være uretmæssig og potentielt i strid med lovgivningen. Såfremt du ikke er rette modtager, bedes du venligst omgående underrette os og derefter slette e-mailen. På forhånd tak.
                                                            <br>
                                                            The information in this email and any attachment is confidential and may be legally protected. It is intended solely for the addressee. Access to this email by anyone else is unauthorised. If you are not the intended recipient, any disclosure or actions taken as a result of the information in this email is prohibited and may be unlawful. If you are not the intended recipient, please notify us immediately and then delete this e-mail and any attachment. Thank you.
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
</body>